# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Variables d'environnement
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de build
/dist
/build

# Fichiers de logs
*.log
logs/

# Fichiers IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers temporaires
*.swp
*.swo
*~ 